<div class="flex flex-col justify-center items-center min-h-screen">
    <h1 class="text-3xl font-bold text-center mb-8 p-4"><span class="font-bold">Effettua la tua prenotazione</span></h1>
    <form [formGroup]="prenotazioneForm" (ngSubmit)="inviaPrenotazione()" class="w-full sm:max-w-md mx-auto px-4">
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2">Data della prenotazione</label>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Seleziona una data"
                    formControlName="dataPrenotazione" class="w-full" (dateChange)="onDateChange($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            @if(prenotazioneForm.get('dataPrenotazione')?.errors?.['required'])
            {
            <mat-error>
                <div class="text-red-600 text-sm mt-1">Seleziona una data </div>
            </mat-error>
            }
            @if(selectedDayInfo === undefined)
            {
            <mat-error>
                <div class="text-red-600 text-sm mt-1"> Il giorno selezionato non è disponibile </div>
            </mat-error>
            }
        </div>

        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2">Ora della prenotazione</label>
            <mat-form-field>
                <input matInput type="time" placeholder="Seleziona un'ora" formControlName="oraPrenotazione"
                    class="w-full">
            </mat-form-field>
            @if(prenotazioneForm.get('oraPrenotazione')?.errors?.['required'])
            {
            <mat-error>
                <div class="text-red-600 text-sm mt-1">Seleziona un'ora. </div>
            </mat-error>
            }
            @if(selectedDayInfo && !controllaOrarioApertura())
            {
            <mat-error>
                <div class="text-red-600 text-sm mt-1"> L'orario selezionato non è disponibile per la prenotazione.
                </div>
            </mat-error>
            }
        </div>

        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2">Numero partecipanti</label>
            <mat-form-field>
                <input matInput type="number" placeholder="Inserisci il numero di partecipanti"
                    formControlName="numeroPartecipanti" class="w-full">
                @if(prenotazioneForm.get('numeroPartecipanti')?.errors?.['required'])
                {
                <mat-error>
                    <div class="text-red-600 text-sm mt-1">Inserisci il numero di partecipanti. </div>
                </mat-error>
                }
                @if(prenotazioneForm.get('numeroPartecipanti')?.errors?.['min'])
                { <mat-error>
                    <div class="text-red-600 text-sm mt-1">Il numero di partecipanti deve essere almeno 1. </div>
                </mat-error>
                }
            </mat-form-field>
        </div>

        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2">Metodo di pagamento</label>
            <mat-form-field>
                <mat-label>Metodo di pagamento</mat-label>
                <mat-select formControlName="metodoPagamento" class="w-full">
                    <mat-option value="Equidiviso">Equidiviso</mat-option>
                    <mat-option value="Individuale">Individuale</mat-option>
                </mat-select>
                @if(prenotazioneForm.get('metodoPagamento')?.errors?.['required'])
                { <mat-error>
                    <div class="text-red-600 text-sm mt-1">Seleziona un metodo di pagamento. </div>
                </mat-error>
                }
            </mat-form-field>
        </div>

        <div *ngFor="let index of getPartecipantiArray().slice(0, getPartecipantiArray().length - 1)" class="mb-6">
            <div [formGroupName]="'partecipanti'">
                <label class="block text-gray-700 text-sm font-bold mb-2">Email partecipante {{ index }}</label>
                <mat-form-field>
                    <input matInput type="email" placeholder="Inserisci l'email del partecipante" formControlName="{{ 'partecipante' + index }}">
                </mat-form-field>
            </div>
        </div>
        

        <button type="submit"
            class="bg-lt-purple text-white px-4 py-2 rounded-md shadow-md hover:bg-dk-purple transition-colors duration-300 block mx-auto disabled:bg-light-color"
            [disabled]="!prenotazioneForm.valid || !selectedDayInfo || !controllaOrarioApertura()">Invia
            prenotazione</button>
    </form>
</div>