<main class="main-registrazione">
  <div class="login-header flex flex-col items-center justify-center h-auto">
    <!-- Logo e testo di benvenuto -->
    <div class="logo">
      <img src="../../../assets/logo_finale.png" alt="Logo" class="w-24 h-24 mb-4">
    </div>
    <div class="welcome-text text-center">
      <h1 class="text-3xl font-bold">Benvenuto in EasyMeal</h1>
      <p class="text-lg">Effettua la registrazione come ristoratore!</p>
    </div>

    <div class="mt-4 flex items-center">
      <div class="flex-grow h-0.5 bg-gray-300"></div>
      <p class="mx-2 text-gray-600 font-bold text-sm">Oppure</p>
      <div class="flex-grow h-0.5 bg-gray-300"></div>
    </div>

    <div class="link-login flex justify-center items-center mt-4">
      <p class="mr-2">Sei un cliente? <a routerLink="/cliente/registrazione"
          class="text-lt-purple hover:text-dk-purple">
          Effettua la registrazione</a> </p>
    </div>
  </div>

  <!-- form dei dati del ristorante -->
  <div class="form-container">
    <app-restaurant-create-form (onChange)="restaurant_on_change($event)"></app-restaurant-create-form>

    <app-address-create-form (onChange)="address_on_change($event)"></app-address-create-form>

    <app-image-form [label]="'logo'" (onChange)="logo_on_change($event)"></app-image-form>

    <app-image-form [label]="'banner_image'" (onChange)="banner_image_on_change($event)"></app-image-form>

    <app-opening-hours-form-ristoratore (onChange)="openings_on_change($event)"></app-opening-hours-form-ristoratore>

    <button type="button" class="submit-button" (click)="on_submit()" [disabled]="!is_valid()"> Registra ristorante
    </button>

  </div>
</main>
<router-outlet></router-outlet>
