@if(!selected) {
    <app-dish-item 
        [dish]="dish"
        (click)="selected = !selected"
        ></app-dish-item>
}
@if(selected){
<div class="login-container bg-form py-10 px-6 rounded-lg shadow-md max-w-md mx-auto">
    <form 
    [formGroup]="form" (ngSubmit)="on_submit()" class="login-form">
        <!-- Nome -->
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput 
                type="text" 
                formControlName="name">
            @if(form.get('name')?.hasError('required') && form.get('name')?.touched)
            {
                <mat-error> Inserisci un nome </mat-error>
            }
        </mat-form-field>
    
        <!-- Descrizione del ristorante -->
        <mat-form-field>
            <mat-label>Descrizione del ristorante</mat-label>
            <textarea 
                matInput 
                formControlName="description"
                #descriptionTextArea
                rows="10">
            </textarea>
            @if(form.get('description')?.hasError('maxlength'))
            {
                <mat-error> Il testo è troppo lungo </mat-error>
            }
          </mat-form-field>
    
        <!-- Price -->
        <mat-form-field>
            <mat-label>Costo</mat-label>
            <input matInput 
                type="number" 
                formControlName="price">
            @if(form.get('price')?.hasError('min'))
            {
                <mat-error> Inserisci un prezzo maggiore di 0 euro. </mat-error>
            }
        </mat-form-field>

        <!-- Image -->
        <div class="image-form">
            <label for="file-input">Foto</label>
            <input 
                id="file-input"
                type="file" 
                accept="image/*"
                (change)="on_file_selected($event)">
            @if(uploaded_pic){
                <img [src]="uploaded_pic" alt="Uploaded Image" class="preview-img">
            }
            @if(!uploaded_pic){
                <img [src]="dish.image" alt="Dish Image" class="preview-img">
            }
        </div>
    
        <div class="flex flex-row space-x-2">
            <button mat-button 
                type="submit" 
                class="submit-button" 
                [disabled]="!form.valid"> Modifica piatto </button>

            <button mat-button 
                type="buton" 
                class="submit-button" 
                (click)="on_delete()"> Elimina piatto </button>
        </div>
    </form>
</div>
}