<main class="main-login">
  <div class="login-header flex flex-col items-center justify-center h-auto">
    <!-- Logo e testo di benvenuto -->
    <div class="logo">
      <img src="../../../assets/logo_finale.png" alt="Logo" class="w-24 h-24 mb-4">
    </div>
    <div class="welcome-text text-center">
      <h1 class="text-3xl font-bold">Benvenuto in EasyMeal</h1>
      <p class="text-lg">Effettua l'accesso come Cliente</p>
    </div>

    <div class="mt-4 flex items-center">
      <div class="flex-grow h-0.5 bg-gray-300"></div>
      <p class="mx-2 text-gray-600 font-bold text-sm">Oppure</p>
      <div class="flex-grow h-0.5 bg-gray-300"></div>
    </div>

    <div class="link-login flex justify-center items-center mt-4">
      <p class="mr-2">Sei un ristoratore? <a routerLink="/ristoratore/login"
          class="text-lt-purple hover:text-dk-purple">
          Effettua l'accesso</a> </p>
    </div>

  </div>

  <app-login (onSubmit)="on_submit($event)"></app-login>

  <div class="link-login flex justify-center items-center mt-4">
    <p class="mr-2">Sei un cliente e non hai un account? <a routerLink="/cliente/registrazione"
        class="text-lt-purple hover:text-dk-purple"> Registrati subito</a> </p>
  </div>
</main>