<main class="index-main">

  <div class="index-header flex flex-col items-center h-auto">
    <div class="logo">
      <img src="../../../assets/logo_finale.png" alt="Logo" class="w-24 h-24 mb-4">
    </div>
    <h1 class="welcome-text text-center text-3xl font-bold">Benvenuto in EasyMeal</h1>
    <p class="text-center text-lg">Il servizio di prenotazione tavoli per ristoranti</p>
  </div>

  <div class="paragraph">
    <h2> Che cos'è Easy Meal? </h2>
    <p>
      <span lang="en">Easy Meal</span> è una <span lang="en">web app</span>
      progettata per gestire le prenotazioni presso i ristoranti, sia dal lato
      dei clienti che dei ristoratori.
      Il prodotto finale sarà composto da due parti:
    </p>
    <dl>
      <dt>Cliente</dt>
      <dd>
        Consente ai clienti di prenotare un tavolo presso un ristorante,
        visualizzare il menù, effettuare un ordine e gestire le proprie
        ordinazioni. Inoltre, i clienti possono condividere la propria
        ordinazione, per permettere ad altri clienti di unirsi alla stessa
        ordinazione.
      </dd>

      <dt>Ristoratore</dt>
      <dd>
        Consente ai ristoratori di gestire le prenotazioni e gli ordini dei
        clienti, oltre a visualizzare la lista degli ingredienti necessari per
        preparare i piatti ordinati.
      </dd>
    </dl>
  </div>

  <div class="paragraph">
    <h2> Quale problema risolve? </h2>
    <p>
      <em>In primis</em>, i ristoranti non hanno un sistema di prenotazione
      online, quindi i clienti devono chiamare per prenotare un tavolo, oppure
      devono recarsi direttamente al ristorante e sperare che ci sia un tavolo
      libero.
    </p>
    <p>
      In secondo luogo, <span lang="en">Easy Meal</span> permette ai
      clienti di visualizzare il menù e di effettuare un ordine, specificando
      prematuramente le proprie preferenze alimentari, considerando anche le
      proprie allergie.
    </p>
    <p>
      In terzo luogo, <span lang="en">Easy Meal</span> permette ai
      clienti di condividere la propria ordinazione con altri clienti, per
      permettere ad altri di unirsi alla stessa ordinazione. Questo fornisce una
      flessibilità maggiore ai clienti, che possono ordinare i piatti da
      consumare anche in momenti diversi.
    </p>
    <p>
      In quarto luogo, <span lang="en">Easy Meal</span> permette ai
      ristoratori di gestire le prenotazioni e gli ordini dei clienti. In questo
      modo, i ristoratori possono organizzare meglio il proprio lavoro e
      ottimizzare i tempi di preparazione dei piatti. I ristoratori possono
      infatti accettare o rifiutare una prenotazione, in base alla disponibilità
      dei tavoli e alla capienza del ristorante.
    </p>
    <p>
      Infine, <span lang="en">Easy Meal</span> permette ai
      ristoratori di visualizzare la lista degli ingredienti necessari per
      preparare i piatti ordinati. In questo modo, i ristoratori possono
      pianificare meglio gli acquisti e sono in grado di evitare di rimanere
      senza ingredienti durante il servizio.
    </p>
  </div>

  <div class="paragraph">
    <h2> Come funziona? </h2>
    <p>
      <span lang="en">Easy Meal</span> è una <span lang="en">web app</span>
      progettata per essere utilizzata da qualsiasi dispositivo, sia esso un
      computer, uno smartphone o un tablet. I clienti possono accedere alla
      piattaforma e visualizzare la lista dei ristoranti disponibili, con la
      possibilità di visualizzare il menù e prenotare un tavolo. I ristoratori
      possono accedere alla piattaforma e visualizzare la lista delle
      prenotazioni e degli ordini dei clienti, con la possibilità di accettare o
      rifiutare una prenotazione.
    </p>
  </div>

</main>