<footer class="py-6">
  <div class="container mx-auto flex justify-between items-center">
    <div>
      <p class="footer-text">&copy; 2023 SWEnergy</p>
      <a href="https://project-swenergy.github.io/" target="_blank" rel="noopener noreferrer"
        class="footer-link">Project SWEnergy Website</a>
    </div>

    <div class="links-container">
      <h3 class="footer-heading">Navigazione</h3>
      <a routerLink="about-us" class="footer-link">About us</a>
      <a routerLink="" class="footer-link">Esplora</a>
    </div>

    <div class="links-container">
      <h3 class="footer-heading"><a routerLink="autenticazione" class="footer-link">Autenticazione</a></h3>
      <a routerLink="cliente/login" class="footer-link">Login clienti</a>
      <a routerLink="cliente/registrazione" class="footer-link">Registrazione clienti</a>
      <a routerLink="ristoratore/login" class="footer-link">Login ristoranti</a>
      <a routerLink="ristoratore/registrazione" class="footer-link">Registrazione ristoranti</a>
    </div>

    <div>
      <p class="footer-contact">Contatti:
        <a href="mailto:project.swenergy@gmail.com" class="footer-link">project.swenergy&#64;gmail.com</a>
      </p>
    </div>
  </div>
</footer>