<div class="container mx-auto">
  <h1 class="text-3xl font-bold text-center mb-8"><span class="font-bold">Area prenotazioni</span></h1>
  <h2 class="text-3xl font-semibold mb-6">Le Tue Prenotazioni:</h2>
  @if(prenotazioni.length === 0)
  {
  <p class="text-lg">Non hai prenotazioni</p>
  }

  @for(prenotazione of prenotazioni; track prenotazioni)
  {
  <div class="bg-white rounded-lg shadow-md mb-4 p-6">
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-xl font-semibold"><span class="text-lg font-semibold mb-2">Prenotazione #N: </span>{{
        prenotazione.id_reservation }}</h3>
      <h3 class="text-xl font-semibold"><span class="text-lg font-semibold mb-2">Ristorante: </span>{{
        prenotazione.name_restaurant }}</h3>
      <span class="text-gray-600">{{ prenotazione.date | date: 'dd/MM/yyyy' }} alle {{ prenotazione.date | date: 'HH:mm'
        }}</span>
    </div>

    <div class="flex flex-wrap justify-between items-center">
      <div class="w-full sm:w-1/2 md:w-1/4 lg:w-1/4 p-2">
        <div class="bg-gray-100 p-4 rounded-lg">
          <p class="text-lg font-semibold mb-2">Partecipanti</p>
          <p>{{ prenotazione.partecipants }}</p>
        </div>
      </div>

      <div class="w-full sm:w-1/2 md:w-1/4 lg:w-1/4 p-2">
        <div class="bg-gray-100 p-4 rounded-lg">
          <p class="text-lg font-semibold mb-2">Stato</p>
          <p>{{ prenotazione.state }}</p>
        </div>
      </div>

      <div class="w-full sm:w-1/2 md:w-1/4 lg:w-1/4 p-2">
        <div class="bg-gray-100 p-4 rounded-lg">
          <p class="text-lg font-semibold mb-2">Metodo di Pagamento</p>
          <p>{{ prenotazione.bill_splitting_method }}</p>
        </div>
      </div>

      <div class="w-full sm:w-1/2 md:w-1/4 lg:w-1/4 p-2">
        <div class="bg-gray-100 p-4 rounded-lg">
          <p class="text-lg font-semibold mb-2">Accettato</p>
          <p>{{ prenotazione.accepted ? 'Sì' : 'No' }}</p>
        </div>
      </div>
    </div>

    <div class="flex justify-between mt-4">
      @if(prenotazione.state !== "Pagamento" && prenotazione.state !== "In corso")
      {
      <button
        class="bg-lt-purple text-white px-4 py-2 rounded-md shadow-md hover:bg-dk-purple transition-colors duration-300 block mx-auto disabled:bg-light-color"
        (click)="cancellaPrenotazione(prenotazione.id_reservation)">Cancella</button>
      }
      @if(!prenotazione.accepted)
      {
      <button
        class="bg-lt-purple text-white px-4 py-2 rounded-md shadow-md hover:bg-dk-purple transition-colors duration-300 block mx-auto disabled:bg-light-color"
        (click)="confermaPrenotazione(prenotazione.id_reservation)">Conferma</button>
      }
      @if( (prenotazione.state === "In attesa" || prenotazione.state === "Approvata" || prenotazione.state === "In
      attesa") && prenotazione.accepted)
      {
      <button
        class="bg-lt-purple text-white px-4 py-2 rounded-md shadow-md hover:bg-dk-purple transition-colors duration-300 block mx-auto disabled:bg-light-color"
        (click)="navigateToOrdinazioneCollaborativa(prenotazione.id_reservation, prenotazione.id_restaurant)">
        Ordina Collaborativamente
      </button>
      }
      @if(prenotazione.state === "Pagamento" && prenotazione.accepted)
      {
      <button
        class="bg-lt-purple text-white px-4 py-2 rounded-md shadow-md hover:bg-dk-purple transition-colors duration-300 block mx-auto"
        (click)="navigateToPagamento(prenotazione.id_reservation, prenotazione.bill_splitting_method, prenotazione.partecipants)">
        Paga
      </button>
      }
    </div>
  </div>
  }
</div>