<div class="index-header flex flex-col items-center h-auto">
    <div class="logo">
        <img src="../../../assets/logo_finale.png" alt="Logo" class="w-24 h-24 mb-4">
    </div>
    <h1 class="welcome-text text-center text-3xl font-bold">Benvenuto in EasyMeal</h1>
    <p class="text-center text-lg">Il servizio di prenotazione tavoli per ristoranti</p>
</div>

<div class="paragraph card-container">
    <div class="card">
        <h3> Clienti </h3>
        <a routerLink="/cliente/registrazione">
            <p>Registrati come cliente</p>
            <button mat-button type="submit"> Registrati </button>
        </a>
        <p class="mb-4">Hai già un account?</p>
        <a routerLink="/cliente/login">
            <p>Accedi come cliente</p>
            <button mat-button type="submit"> Accedi </button>
        </a>
    </div>
    <div class="card">
        <h3>Ristoratori</h3>
        <a routerLink="/ristoratore/registrazione">
            <p>Registrati come ristoratore</p>
            <button mat-button type="submit"> Registrati </button>
        </a>
        <p class="mb-4">Hai già un account?</p>
        <a routerLink="/ristoratore/login">
            <p>Accedi come ristoratore</p>
            <button mat-button type="submit"> Accedi </button>
        </a>
    </div>
</div>